In [3]:
import pandas as pd
import csv as csv

In [6]:
school_data_path= r"C:\Users\Lenovo\unc\homework\Pandas-challenge101\Starter_Code\PyCitySchools\Resources\schools_complete.csv"
student_data_path= r"C:\Users\Lenovo\unc\homework\Pandas-challenge101\Starter_Code\PyCitySchools\Resources\students_complete.csv"

In [18]:
#transforming these 2 paths(the original csv paths) to panda data frames so we can start to manipilate and giving them a variable names:
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)
school_data.head(10)
student_data.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [75]:
#we will merge both datas together and assigning the new merged data frame to a new variable. 2 in 1
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name","school_name"])

school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [87]:
school_count = school_data_complete.value_counts('school_name')
school_count
len(school_count)

15

In [124]:
student_count = len(school_data_complete['student_name'])
#student_count
student_count

39170

In [83]:

#total_budget_int = school_data_complete['budget'] =pd.to_numeric(school_data_complete['budget'])
#total_budget = sum('budget') =====> why does it work!!!
total_budget = school_data_complete['budget'].sum()
total_budget

82932329558

In [77]:
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [81]:
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [127]:
passing_math_count = school_data_complete[(school_data_complete['math_score'] >= 70)].count()['student_name']
#passing_math_count_int = pd.to_numeric(passing_math_count)
passing_math_percentage = passing_math_count / student_count * 100
passing_math_percentage

74.9808526933878

In [128]:
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / student_count * 100
passing_reading_percentage

85.80546336482001

In [133]:
passing_math_reading_count = school_data_complete[(school_data_complete['math_score'] >= 70 )&(school_data_complete['reading_score'] >= 70)].count()['student_name']
#passing_math_reading_count
passing_math_reading_percentage = passing_math_reading_count / student_count * 100
passing_math_reading_percentage

65.17232575950983