In [246]:
import pandas as pd
import csv as csv

In [247]:
school_data_path= r'/home/mo/Documents/UNC/homeWork/pandas-challenge/PyCitySchools/Resources/schools_complete.csv'
student_data_path= r'/home/mo/Documents/UNC/homeWork/pandas-challenge/PyCitySchools/Resources/students_complete.csv'

In [248]:
#transforming these 2 paths(the original csv paths) to panda data frames so we can start to manipilate and giving them a variable names:
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)
display(school_data.head())
display(student_data.head())

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [249]:
#we will merge both datas together and assigning the new merged data frame to a new variable. 2 in 1
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name","school_name"])
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

# District Summary

#### Renaming some of the columns to avoid errors

In [250]:
school_data_complete = school_data_complete.rename(columns={
    'Student ID': 'student_id',
    'School ID': 'school_id'
}

)
school_data_complete.head()

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### Total number of unique schools

In [251]:
school_count = school_data_complete['school_name'].value_counts().count()
school_count

15

### Total students

In [252]:
student_count = len(school_data_complete['student_name'])
student_count

39170

### Total budget

In [253]:
total_budget = school_data_complete['budget'].unique()
total_budget = total_budget.sum()
#or using the school_data data frame
# total_budget = school_data['budget'].sum()
# display(total_budget)

### Average math score

In [254]:
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

### Average reading score

In [255]:
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

### % passing math (the percentage of students who passed math)

In [256]:
passing_math_count = school_data_complete[(school_data_complete['math_score'] >= 70)].count()['student_name']
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

### % passing reading (the percentage of students who passed reading)

In [257]:
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

### % overall passing (the percentage of students who passed math AND reading)

In [258]:
passing_math_reading_count = school_data_complete[(school_data_complete['math_score'] >= 70 )&(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_math_reading_percentage = passing_math_reading_count / student_count * 100
passing_math_reading_percentage

65.17232575950983

# District Summary Data Frame

In [259]:
district_summary = pd.DataFrame({
    'Total Schools' : [school_count],
    'Total Students' : [student_count],
    'Total Budget' : [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '%Passing Math':[passing_math_percentage],
    '%Passing Reading':[passing_reading_percentage],
    '%Overall Passing':[passing_math_reading_percentage]

})

district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)
district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)
display(district_summary)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [260]:
school_data_complete.columns

Index(['student_id', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'school_id', 'type', 'size', 'budget'],
      dtype='object')

### School name / School type

In [261]:
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

### Total students per school

In [262]:
per_school_counts = school_data_complete.groupby('school_name')['student_name'].count()
per_school_counts
# per_school_counts.sum() ====> = student_count to check my answer
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

### Total budget per school

In [263]:
per_school_budget = school_data_complete.groupby('school_name')['budget'].mean()
#per_school_budget = school_data[['school_name','budget']] =====> another answer using the school_data data frame

per_school_budget 
#per_school_budget.sum() ====> = total budget ===> to check my answer 
per_school_budget # === > to make it look better

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

### Per student budget

In [264]:
budget_per_student =  per_school_budget / per_school_counts
# per_student_budget =pd.DataFrame({
#     'school_name': budget_per_student.index,
#     'per_student_budget': budget_per_student.values
# })
# per_student_budget

### Average math score

In [265]:
math_score_average = school_data_complete.groupby('school_name')['math_score'].mean()
# average_math_score = pd.DataFrame({
#     'school_name' : math_score_average.index,
#     'math_score_average' : math_score_average.values
# })
# average_math_score

### Average reading score

In [266]:
reading_score_average = school_data_complete.groupby('school_name')['reading_score'].mean()
# average_reading_score = pd.DataFrame({
#     'school_name' : reading_score_average.index,
#     'average_reading_score' : reading_score_average.values
# })
# average_reading_score

### % passing math (the percentage of students who passed math)

In [267]:
passing_math = school_data_complete[school_data_complete['math_score'] >= 70 ]
passing_math

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [268]:
passing_math_school = passing_math.groupby('school_name')['student_name'].count()

passing_math_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [269]:
per_pass_math_by_school = (passing_math_school / per_school_counts) * 100
# per_pass_math_per_school = pd.DataFrame({
#     "school_name" : per_pass_math_by_school.index,
#     "%passing math" : per_pass_math_by_school.values
# })
# per_pass_math_per_school

### % passing reading (the percentage of students who passed reading)

In [270]:
pass_reading_count = school_data_complete[ school_data_complete['reading_score'] >= 70 ]
pass_reading_count

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [271]:
per_school_pass_reading_count = pass_reading_count.groupby('school_name')['reading_score'].count()
per_school_pass_reading_count

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [272]:
average_reading_pass_per_school = per_school_pass_reading_count / per_school_counts * 100
# reading_average_per_school = pd.DataFrame({
#   'school_name' : average_reading_pass_per_school.index,
#   '%passing_pass_reading' : average_reading_pass_per_school.values 
# })
# reading_average_per_school
average_reading_pass_per_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

### % overall passing (the percentage of students who passed math AND reading)

In [273]:
overall_pass_count = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]

In [274]:
per_school_passing_math = per_pass_math_per_school["%passing math"]
per_school_passing_reading = reading_average_per_school["%passing_pass_reading"]
overall_passing_rate = overall_pass_count.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [275]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
  "School Name" : overall_passing_rate.index,
  "School Type" : school_types.values,
  "Total Students" : per_school_counts.values,
  "Total School Budget": per_school_budget.values,
  "Per Student Budget" : budget_per_student.values,
  "Average Math Score" : math_score_average.values,
  "Average Reading Score" : reading_score_average.values,
  "% Passing Math" : per_pass_math_by_school.values,
  "% Passing Reading" : average_reading_pass_per_school.values,
  "% Overall Passing" : overall_passing_rate.values

})

# # Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# # Display the DataFrame
per_school_summary.set_index(['School Name'])

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,District,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,Charter,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,Charter,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,Charter,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,Charter,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,District,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,District,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,District,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [276]:
top_schools = per_school_summary.sort_values("% Overall Passing" , ascending=False)
top_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,District,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
12,Thomas High School,District,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
13,Wilson High School,District,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541